<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- Environment Configurations-->
    <!-- Stg/UAT:  -->
    <add key="FN_URI" value="uri" />
    <add key="FN_ObjectStore" value="os" />
    <add key="FN_UserName" value="un" />
    <add key="FN_Password" value="pwd" />
    <!-- Prod: 
    <add key="FN_URI" value="uri" />
    <add key="FN_ObjectStore" value="os" />
    <add key="FN_UserName" value="un" />
    <add key="FN_Password" value="pwd" />
    -->
    <!-- Service Configurations-->
    <add key="FN_DocClasses" value="JIT_Ticket,JIT_TicketAttach" />
    <add key="" value="" />
    <add key="" value="" />
    <add key="" value="" />
    <add key="" value="" />
    <add key="" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="FFX_P8_Image.Services.FFXImageService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2112" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:2112/JitImage" binding="basicHttpBinding" contract="FFX_P8_Image.Services.IFFXImageService" />
        <endpoint address="net.tcp://localhost:2113/JitImage" binding="netTcpBinding" contract="FFX_P8_Image.Services.IFFXImageService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>