<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FN_UserName" value="eReg_integration_service_d" />
    <add key="FN_Password" value="&amp;&quot;3Eq2W9+T/5(fV" />
    <add key="FN_URI" value="https://ecmdmt01.ct.gov:9443/wsi/FNCEWS40MTOM/" />
    <add key="FN_ObjectStore" value="OSFNSOT" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="FNCEWS40MTOMBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://ecmdmt01.ct.gov:9443/wsi/FNCEWS40MTOM/"
                binding="customBinding" bindingConfiguration="FNCEWS40MTOMBinding"
                contract="CEWS.FNCEWS40PortType" name="FNCEWS40MTOMPort" />
        </client>
    </system.serviceModel>
</configuration>